/* You can add global styles to this file, and also import other style files */

body {
  background-color: #f3f3f3;
}

header {
  background-color: #43a047;
  color: #fff;
  padding: 12px;

  a {
    color: #fff;
    padding: 6px;
  }
}
